# Environments
.env
.venv
venv/

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Data
input/
output/
data/cache/
tests/out/

# Models
*.gguf
*.pth
diadub/models/VibeVoice-1.5B/
diadub/models/Wav2Lip/

# Project specific
.diadub_progress.log
.~lock.RUN.txt#
implement_orpheus.txt
project_analysis.txt
RUN.txt
git-push.txt
project_status.txt
voices/
diadub/models/huggingface/
diadub/models/separation/
diadub/models/stt/
